.time-block {
    margin-top: 2rem;
    margin-bottom: 3.875rem;
    background: var(--background-tertiary);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & .time-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.875rem 1.25rem;
        font-family: 'Inter Tight';
        font-weight: 700;

        & .time-icon {
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }

        & .time-range {
            color: var(--content-secondary);
        }
    }

    & .appointment {
        padding: 2rem;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 16px;
        border-top: 0.1px solid var(--content-secondary);
       

        color: var(--content-secondary);

        & .time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;

            & .client {
                display: flex;
                align-items: center;

                & span {
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 24px;
                    color: #FFFFFF;
                }

                & .pet-name {
                    font-weight: 600;
                    color: #FFFFFF;
                }

                & p:first-of-type {
                    margin-left: 1rem;
                }
            }

            & .btn-remove {
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: var(--content-secondary);
            }
        }
    }

    
}